---
import Layout from "../layouts/Layout.astro"
import Styles from "../styles/about.module.scss";
---

<Layout title="About Me">
  <h1>A short introduction into the life of HB</h1>
  <p>Minim laboris velit est laborum excepteur duis fugiat culpa. Commodo adipisicing et velit laboris pariatur ex eu qui laboris ullamco sunt proident voluptate. Duis est aliquip veniam ullamco minim est eiusmod aliqua consequat magna minim mollit cillum proident.</p>
  <p>
    Pariatur excepteur esse nulla anim proident enim non est sint incididunt et eiusmod. Eu aliquip laborum ea nostrud nulla irure minim eu ullamco nisi. Magna dolore consectetur occaecat ex do nulla reprehenderit non ullamco aliquip nulla non. Lorem et nulla quis reprehenderit sint aute elit.
  </p>
</Layout>