---
import Layout from "../layouts/Layout.astro"
import Stles from "../styles/contact.module.scss"
---

<Layout title="Contact Me">
  <h1>
    You can find me on:
  </h1>
  <ul>
    <li>
      Instagram
    </li>
    <li>
      Facebook
    </li>
    <li>
      Linkedin
    </li>
    <li>
      Email @
    </li>
  </ul>
</Layout>
<style>
  li {
    color: red
  }
</style>