---
import '@styles/global.scss'
import Styles from './Styles.module.scss';
---

<nav class={Styles.navWrapper}>
  <a href='/'>Home</a>
  <a href='/about'>About Me</a>
  <a href='/contact'>Contact Me</a>
</nav>
<style>

</style>